/* add this to obs css settings */

body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

.highlight-chat {
  background-color: transparent;
}

/* stream icon fix */
span.anticon > svg {
  margin-top: 7px;
}

/* for animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 0;
      display: none;
  }
  100% {
    opacity: 1;
  }
}

.fading {
  animation: fadeIn 0.5s ease-in;
}
  
